/*

    ©️ 2023 upio

    written by upio inspired by a tiktok video 
    i was bored ok idek why im doing this 💀

    https://www.upio.dev
    https://e-z.bio/upio

*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#message-container {
    background-color: plum;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.455);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    overflow-x: hidden;
    transition: height 1.5s ease;

    max-height: calc(100vh - 100px);
    min-width: 350px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#message-container::-webkit-scrollbar {
    display: none;
}

#message {
    width: 90%;
    height: 90%;
    padding: 15px;
}